<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-title>Redeem Reward</ion-title>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
    <ion-row class="ion-justify-content-center mr-3">
      <ion-col class="ion-text-center">
        <img [src]="detailReward.image" class="w-50" alt="">
      </ion-col>
    
    </ion-row>
    <ion-row class="mr-3">
      <ion-col>
        <ion-text class="head-text bold">{{detailReward.name}}</ion-text><br>
        <ion-text color="dark" class="sub-text">Tersedia 10pcs</ion-text>
      </ion-col>
      <ion-col text-right>
        <ion-text color="primary" class="sub-text">{{detailReward.point_price}} leaf</ion-text>
      </ion-col>
    </ion-row>
  
  </ion-grid>
  <ion-item-divider>
          
  </ion-item-divider>
  
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-list lines="none">
            <ion-list-header>
                <ion-label>Catatan</ion-label>
              </ion-list-header>
            <ion-item>
              <ion-label>{{detailReward.description}}</ion-label>
            </ion-item>
            <!-- <ion-item>
              <ion-label>2. Lorem ipsum dolor sit amet.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label text-wrap>3. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</ion-label>
            </ion-item> -->
              
          </ion-list>
  
          <ion-button expand="full" >Redeem</ion-button>
              
          
        </ion-col>
      </ion-row>
    </ion-grid>

<!-- <ion-grid>
  <ion-row class="ion-justify-content-center mr-3">
    <ion-col class="ion-text-center">
      <img src="../../../assets/icon/tumbler.png" class="w-50" alt="">
    </ion-col>
  
  </ion-row>
  <ion-row class="mr-3">
    <ion-col>
      <ion-text class="head-text bold">Tumbler 350ml</ion-text><br>
      <ion-text color="dark" class="sub-text">Tersedia 10pcs</ion-text>
    </ion-col>
    <ion-col text-right>
      <ion-text color="primary" class="sub-text">35000 leaf</ion-text>
    </ion-col>
  </ion-row>

</ion-grid>
<ion-item-divider>
       
</ion-item-divider>

<ion-grid>
  <ion-row>
    <ion-col>
        <ion-list lines="none">
          <ion-list-header>
              <ion-label>Catatan</ion-label>
            </ion-list-header>
          <ion-item>
            <ion-label>1. Lorem ipsum dolor sit,</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>2. Lorem ipsum dolor sit amet.</ion-label>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>3. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</ion-label>
          </ion-item>
            
        </ion-list>

        <ion-button expand="full" >Redeem</ion-button>
            
        
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
