<ion-header>
  <ion-toolbar>
 <ion-buttons slot="start">
   <ion-back-button></ion-back-button>
   <ion-title>Create new reward</ion-title>
  </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="fgCreateReward">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Image</ion-label>
      <!-- <br><br> -->
      <!-- <ion-input type="text" formControlName="image"></ion-input> -->
      <div class="upload-container">
        <!-- <a>Choose Photo</a> -->
        <ion-input
          id="uploadBtn"
          type="file"
          formControlName="image"
          class="upload"
          (change)="uploadFile($event.target.files)"
        ></ion-input>
      </div>
      <div *ngIf="snapshot | async as snap">
        <!--  File Size: {{ snap.totalBytes | fileSizePipe }} Transfered:
         {{ snap.bytesTransferred | fileSizePipe }} -->
         <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">

         </div>
       </div>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Point Price</ion-label>
      <ion-input type="number" formControlName="point_price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input type="number" formControlName="qty"></ion-input>
    </ion-item>
<br>
    <ion-button expand="full" (click)="createReward()" [disabled]="fgCreateReward.invalid">Create</ion-button>

  </form>
  
</ion-content>
