<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      
    
    </ion-buttons>
    
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center">
            <img class="round" *ngIf="user" [src]="user.image" alt="">
            <br>
            <div class="upload-container">
                <a href="">Change Profile Photo</a> 
              <input
                id="uploadBtn"
                type="file"
                class="upload"
                (change)="uploadFile($event.target.files)"
              />
            </div>
            <div *ngIf="percentage | async as pct">
                Progress: {{ pct | number }}%
                <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
              </div>
              <div *ngIf="snapshot | async as snap">
               <!--  File Size: {{ snap.totalBytes | fileSizePipe }} Transfered:
                {{ snap.bytesTransferred | fileSizePipe }} -->
                <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
                
                </div>
              </div>
         
            
          </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form [formGroup]="fg" *ngIf="fg">
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
      </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
