<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/profile"></ion-back-button>
      
    <ion-title>Edit Profile</ion-title>
    <ion-button slot="end" (click)="save()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center">
            <img class="round" *ngIf="user" [src]="user.image" alt="">
            <br>
            <div class="upload-container">
                <a href="">Change Profile Photo</a> 
              <input
                id="uploadBtn"
                type="file"
                class="upload"
                (change)="uploadFile($event.target.files)"
              />
            </div>
         
            
          </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form [formGroup]="fg" *ngIf="fg">
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
      </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
