// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  

  --ion-color-primary: #207b25;
  --ion-color-primary-rgb: 32,123,37;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #1c6c21;
  --ion-color-primary-tint: #36883b;

  --ion-color-secondary: #71cc49;
  --ion-color-secondary-rgb: 113,204,73;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb:  255,255,255;
  --ion-color-secondary-shade: #63b440;
  --ion-color-secondary-tint: #7fd15b;

  --ion-color-tertiary: #99d578;
  --ion-color-tertiary-rgb: 153,213,120;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #87bb6a;
  --ion-color-tertiary-tint: #a3d986;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #E55934;
  --ion-color-warning-rgb: 229,89,52;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #ca4e2e;
  --ion-color-warning-tint: #e86a48;
  
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #031c06;
  --ion-color-dark-rgb: 3,28,6;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #031905;
  --ion-color-dark-tint: #1c331f;

  --ion-color-medium: #043b05;
  --ion-color-medium-rgb: 4,59,5;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #043404;
  --ion-color-medium-tint: #1d4f1e;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}