<ion-header>
  <ion-toolbar>
      <ion-buttons>
          <ion-back-button defaultHref="/home">
    
          </ion-back-button>
          <ion-title>QRCode</ion-title>
        </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center mt-30">
          <ion-col class="ion-text-center" size="12">
            <ngx-qrcode [qrc-value]="userId"></ngx-qrcode>
          </ion-col>
          <ion-col class="ion-text-center">
            UID: {{userId}}
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
