<ion-header color="light" no-border>
    <ion-item color="secondary-shade" lines="none">
       <ion-text class="title" color="secondary">Daur</ion-text>
       <ion-item color="secondary-shade" slot="end" lines="none">
           <ion-icon name="ios-leaf" color="secondary"></ion-icon>
           <ion-label color="dark">1600</ion-label>
           <ion-icon name="md-more" (click)="presentActionSheet()"></ion-icon>
       </ion-item>
       
    </ion-item>
    
   </ion-header>

<ion-content>
    <ion-grid *ngIf="user">
      <ion-row class="ion-justify-content-center mr-3">
        <ion-col class="ion-text-center">
          <img class="round" [src]="user.image" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <form class="ion-text-center" [formGroup]="fg">
            
          <ion-text *ngIf="!edit" class="profile-name bold" >{{ user.name }}</ion-text>
          <label *ngIf="edit" for="">Name:</label>
          <ion-input *ngIf="edit" class="profile-name" formControlName="name"></ion-input>
          <br>
          <ion-text *ngIf="!edit" class="sub-text">{{user.univ}}</ion-text>
            </form>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
         
          <ion-button fill="outline" *ngIf="!edit" routerLink="/edit-profile">Edit Profile</ion-button>
          <ion-button *ngIf="edit" (click)="save();edit = !edit">Save</ion-button>
        </ion-col>
      </ion-row>
      
    </ion-grid>

    

    <ion-segment class="mr-3" [(ngModel)]="segment" color="secondary" mode="md" scrollable>
    
        <ion-segment-button mode="md" value="history" >
          Recent History
        </ion-segment-button>
        <ion-segment-button mode="md" value="qr">
          QR Code
        </ion-segment-button>
    
      </ion-segment>
      <div [ngSwitch]="segment">

     
      <ion-list *ngSwitchCase="'history'">
          <ion-item-sliding>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="../../assets/icon/trophy2.png">
                  </ion-avatar>
              <ion-label><strong>asd</strong> 
                <br> -35000 leaf <br>
                30 Nov 2019
              </ion-label>
              
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="unread(item)">Unread</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="../../assets/icon/recycle-green.png">
                  </ion-avatar>
              <ion-label><strong>Nabung di UMN-Kantin</strong> 
                <br> +152 leaf <br>
                25 Nov 2019
              </ion-label>
              
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="unread(item)">Unread</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        
          <ion-item-sliding>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="../../assets/icon/recycle-green.png">
                  </ion-avatar>
              <ion-label><strong>Nabung di UMN-Libro</strong>
                <br> +12 leaf <br>
                20 Nov 2019</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="unread(item)">Unread</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="../../assets/icon/recycle-green.png">
                  </ion-avatar>
              <ion-label><strong>Nabung di UMN-Libro</strong>
                <br> +12 leaf <br>
                20 Nov 2019</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="unread(item)">Unread</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="../../assets/icon/recycle-green.png">
                  </ion-avatar>
              <ion-label><strong>Nabung di UMN-Libro</strong>
                <br> +12 leaf <br>
                20 Nov 2019</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="unread(item)">Unread</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="../../assets/icon/recycle-green.png">
                  </ion-avatar>
              <ion-label><strong>Nabung di UMN-Libro</strong>
                <br> +12 leaf <br>
                20 Nov 2019</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="unread(item)">Unread</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="../../assets/icon/recycle-green.png">
                  </ion-avatar>
              <ion-label><strong>Nabung di UMN-Libro</strong>
                <br> +12 leaf <br>
                20 Nov 2019</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="unread(item)">Unread</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>



        </ion-list>

        <ion-grid *ngSwitchCase="'qr'">
          <ion-row >
            <ion-col >
                <ion-card text-center *ngIf="!isUploading && !isUploaded">
                    <ion-card-header>
                      <ion-card-title>Choose Images to Upload</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <div class="fileUpload btn btn-primary">
                        <span>Upload</span>
                        <input
                          id="uploadBtn"
                          type="file"
                          class="upload"
                          (change)="uploadFile($event.target.files)"
                        />
                      </div>
                    </ion-card-content>
                  </ion-card>
                  <ion-card text-center *ngIf="isUploading && !isUploaded">
                      <ion-card-header>
                        <ion-card-title
                          >Selected File:<b>{{ fileName }}</b></ion-card-title
                        >
                      </ion-card-header>
                   
                      <ion-card-content>
                        <div *ngIf="percentage | async as pct">
                          Progress: {{ pct | number }}%
                          <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
                        </div>
                        <div *ngIf="snapshot | async as snap">
                         <!--  File Size: {{ snap.totalBytes | fileSizePipe }} Transfered:
                          {{ snap.bytesTransferred | fileSizePipe }} -->
                          <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
                            <ion-button
                              color="warning"
                              size="small"
                              (click)="task.pause()"
                              class="button is-warning"
                              >Pause</ion-button
                            >
                            <ion-button
                              size="small"
                              (click)="task.resume()"
                              class="button is-info"
                              >Resume</ion-button
                            >
                            <ion-button
                              color="danger"
                              size="small"
                              (click)="task.cancel()"
                              class="button is-danger"
                              >Cancel</ion-button
                            >
                          </div>
                        </div>
                      </ion-card-content>
                    </ion-card>
                   
            </ion-col>
          </ion-row>
        </ion-grid>
         
      
      </div>
  </ion-content>
