<ion-header color="secondary-shade" no-border>
    <ion-item color="secondary-shade" lines="none">
       <ion-text class="title" color="secondary">Daur</ion-text>
       <ion-item color="secondary-shade" slot="end" lines="none">
           <ion-icon name="ios-leaf" color="secondary"></ion-icon>
           <ion-label color="dark">1600</ion-label>
       </ion-item>
       
    </ion-item>
    
   </ion-header>

<ion-content>
    <ion-grid>
      <ion-row class="ion-justify-content-center mr-3">
        <ion-col class="ion-text-center">
          <img class="round" src="../../assets/0.jpg" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <form class="ion-text-center">
          <ion-text *ngIf="!edit" class="profile-name bold">Brilyan Aro</ion-text>
          <ion-input *ngIf="edit" class="profile-name" placeholder="Brilyan Aro"></ion-input>
          <br>
          <ion-text class="sub-text">Universitas Multimedia Nusantara</ion-text>
            </form>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button fill="outline" *ngIf="!edit" (click)="edit = !edit">Edit Profile</ion-button>
          <ion-button *ngIf="edit" (click)="edit = !edit">Save</ion-button>
        </ion-col>
      </ion-row>
      
    </ion-grid>

    

    <ion-segment class="mr-3" [(ngModel)]="segment" color="secondary" mode="md" scrollable>
    
        <ion-segment-button mode="md" value="history" >
          Recent History
        </ion-segment-button>
        <ion-segment-button mode="md" value="qr">
          QR Code
        </ion-segment-button>
    
      </ion-segment>
      <div [ngSwitch]="segment">

     
      <ion-list *ngSwitchCase="'history'">
          <ion-item-sliding>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="../../assets/icon/trophy2.png">
                  </ion-avatar>
              <ion-label><strong>Redeem Tumbler 350ml</strong> 
                <br> -35000 leaf <br>
                30 Nov 2019
              </ion-label>
              
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="unread(item)">Unread</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="../../assets/icon/recycle-green.png">
                  </ion-avatar>
              <ion-label><strong>Nabung di UMN-Kantin</strong> 
                <br> +152 leaf <br>
                25 Nov 2019
              </ion-label>
              
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="unread(item)">Unread</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        
          <ion-item-sliding>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="../../assets/icon/recycle-green.png">
                  </ion-avatar>
              <ion-label><strong>Nabung di UMN-Libro</strong>
                <br> +12 leaf <br>
                20 Nov 2019</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="unread(item)">Unread</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="../../assets/icon/recycle-green.png">
                  </ion-avatar>
              <ion-label><strong>Nabung di UMN-Libro</strong>
                <br> +12 leaf <br>
                20 Nov 2019</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="unread(item)">Unread</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="../../assets/icon/recycle-green.png">
                  </ion-avatar>
              <ion-label><strong>Nabung di UMN-Libro</strong>
                <br> +12 leaf <br>
                20 Nov 2019</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="unread(item)">Unread</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="../../assets/icon/recycle-green.png">
                  </ion-avatar>
              <ion-label><strong>Nabung di UMN-Libro</strong>
                <br> +12 leaf <br>
                20 Nov 2019</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="unread(item)">Unread</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="../../assets/icon/recycle-green.png">
                  </ion-avatar>
              <ion-label><strong>Nabung di UMN-Libro</strong>
                <br> +12 leaf <br>
                20 Nov 2019</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="unread(item)">Unread</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>



        </ion-list>

        <ion-grid *ngSwitchCase="'qr'">
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-text-center">
                <img routerLink="/qrcode" src="../../assets/icon/daur.png" alt="">
            </ion-col>
          </ion-row>
        </ion-grid>
         
      
      </div>
  </ion-content>
