<ion-header color="light" no-border>
    <ion-item color="secondary-shade" lines="none">
       <ion-text class="title" color="secondary">Daur</ion-text>
       <ion-item color="secondary-shade" slot="end" lines="none">
           <ion-icon name="ios-leaf" color="secondary"></ion-icon>
           <ion-label color="dark" *ngIf="user">{{user.points}}</ion-label>
           <ion-icon name="md-more" (click)="presentActionSheet()"></ion-icon>
       </ion-item>
       
    </ion-item>
    
   </ion-header>

<ion-content>
    <ion-grid *ngIf="user">
      <ion-row class="ion-justify-content-center mr-3">
        <ion-col class="ion-text-center">
          <img class="round" [src]="user.image" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <form class="ion-text-center" [formGroup]="fg" *ngIf="fg">
            
          <ion-text *ngIf="!edit" class="profile-name bold" >{{ user.name }}</ion-text>
          <label *ngIf="edit" for="">Name:</label>
          <ion-input *ngIf="edit" class="profile-name" formControlName="name"></ion-input>
          <br>
          <ion-text *ngIf="!edit" class="sub-text">{{user.univ}}</ion-text>
            </form>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
         
          <ion-button fill="outline" *ngIf="!edit" routerLink="/edit-profile">Edit Profile</ion-button>
          <ion-button *ngIf="edit" (click)="save();edit = !edit">Save</ion-button>
        </ion-col>
      </ion-row>
      
    </ion-grid>

    

    <ion-segment class="mr-3" [(ngModel)]="segment" color="secondary" mode="md" scrollable>
    
        <ion-segment-button mode="md" value="history" >
          Recent History
        </ion-segment-button>
        <ion-segment-button mode="md" value="qr">
          QR Code
        </ion-segment-button>
    
      </ion-segment>
      <div [ngSwitch]="segment">

     
      <ion-list *ngSwitchCase="'history'">
          <ion-item *ngFor="let item of history">
            <ion-label><strong>{{item.type}}</strong>
            <br>
              <span *ngIf="item.type === 'deposit'" class="text-green">+{{item.points}}</span>
              <span *ngIf="item.type === 'purchase'" class="text-red">-{{item.points}}</span>
              <br>
              {{item.date.seconds * 1000 | date: 'medium'}}
          </ion-label>
          </ion-item>


        </ion-list>

        <ion-grid *ngSwitchCase="'qr'">
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-text-center">
               <a routerLink="/qrcode" style="margin-top: 80px">Go to My QR</a>
            </ion-col>
            
          </ion-row>
        </ion-grid>
         
      
      </div>
  </ion-content>
