/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

ion-title{
    font-family: 'Poppins', sans-serif;
   

}

.bg-grey{
  //background-color: #71cc49;
    background-color: #fafaff;
}

.uppercase{
    text-transform: uppercase;
}

.text-green{
    color: #71cc49;
}

.text-red{
    color: red;
}

.scan-icon{
    font-size: 80px;
}

.voucher-card{
  //  height: 170px;
   
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.07);
}

.btn-redeem-detail{
    bottom:0;
    left:0;
    right: 0;
    position:fixed;
}

.btn-redeem{
    bottom: 7px;
    right: 7px;
   // position: fixed;
}

.page-title{
    font-size: 26px;
}

.mt-20{
    margin-top: 13px
}

.mt-30{
    margin-top: 30%;
}

.w-50{
    width: 50%;
}

.bold{
    font-weight: 700 !important;
}
ion-text{
    font-family: 'Poppins', sans-serif;
}

ion-label{
    font-family: 'Poppins', sans-serif;
}

.card-float{
    margin-top: -50px;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 40px lighten(#000, 60%);
    transition: box-shadow .2s ease-in-out;
    
    background-color: #71cc49;
    border-radius: 13px;
   
}
.icon{
    background-color: #71cc49;
    border-radius: 10px;
   
}
.title{
    font-family: 'Playfair Display', serif;
    font-size:27px;
}

.text-name{
    font-size: 27px;
    font-weight: 500;
    color: black
}

.profile-name{
    font-size: 20px;
    color: black;
}

.sub-text{
   // color: #71cc49;
    font-size: 15px;
}

.head-text{
    font-size: 20px;
}

.p-10{
    padding: 10px
}

.mr-10{
    margin-top: 200px;
}

.mr-5{
    margin-top: 100px;
}

.mr-3{
    margin-top: 50px;
}

.round{
    border-radius: 100px;
    width: 130px;
}

.trans{
    transition: ease-in 1s;
}

.bg-green{
    background-image: url(../src/assets/qwe.png);
    background-size: cover;
   // border-bottom: 3px solid #71cc49;
}

.card-100{
    height: 200px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {margin-left: 360px}
    25%  {}
    50%  {}
    75%  {}
    100% {}
  }
  
  /* Standard syntax */
  @keyframes example {
    0%   {margin-left: 360px}
    25%  {}
    50%  {}
    75%  {}
    100% {}
  }