<ion-header color="secondary-shade" no-border>
  <!-- <ion-item color="secondary-shade" lines="none">
      <ion-text class="title" color="secondary">Daur</ion-text>
      <ion-item color="secondary-shade" slot="end" lines="none">
          <ion-icon name="ios-leaf" color="secondary"></ion-icon>
          <ion-label color="dark">1600</ion-label>
      </ion-item>
      
  </ion-item> -->
</ion-header>

<ion-content padding>
  <ion-text color="primary" class="bold page-title">Rewards</ion-text>
  
  <ion-card class="voucher-card" *ngFor="let x of reward">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img class="w-50" [src]="x.image" alt="">
        </ion-col>
        <ion-col class="bg-grey">
            <ion-card-content>
              <ion-text color="dark" class="bold head-title uppercase">{{x.name}}</ion-text>
            </ion-card-content>
            <ion-row>
              <ion-col class="ion-text-right">
                <ion-button color="secondary" fill="outline" class="btn-redeem" (click)="redeem(x.reward_id)">Redeem</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  
  <!-- <ion-card class="voucher-card">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img class="w-50" src="../../assets/icon/tumbler.png" alt="">
        </ion-col>
        <ion-col>
            <ion-card-content>
              <ion-text color="dark" class="bold head-title">Tumbler 350ml</ion-text>
              <ion-button color="primary" class="btn-redeem" (click)="redeem()">Redeem</ion-button>
            </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
   </ion-card>

  <ion-card class="voucher-card">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img src="../../assets/icon/tumbler2.jpg" alt="">
        </ion-col>
        <ion-col>
            <ion-card-content>
              <ion-text color="dark" class="bold head-title">Tumbler w/ Straw 350ml</ion-text>
              <ion-button color="primary" class="btn-redeem">Redeem</ion-button>
            </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
 

  </ion-card>
  <ion-card class="voucher-card">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img src="../../assets/icon/tumbler2.jpg" alt="">
        </ion-col>
        <ion-col>
            <ion-card-content>
              <ion-text color="dark" class="bold head-title">Tumbler w/ Straw 350ml</ion-text>
              <ion-button color="primary" class="btn-redeem">Redeem</ion-button>
            </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
 

  </ion-card>
  <ion-card class="voucher-card">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img src="../../assets/icon/tumbler2.jpg" alt="">
        </ion-col>
        <ion-col>
            <ion-card-content>
              <ion-text color="dark" class="bold head-title">Tumbler w/ Straw 350ml</ion-text>
              <ion-button color="primary" class="btn-redeem">Redeem</ion-button>
            </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
 

  </ion-card> -->

</ion-content>
