<ion-header no-border>
    <ion-item color="secondary-shade" lines="none">
       <ion-text class="title" color="secondary">Daur</ion-text>
       <ion-item color="secondary-shade" slot="end" lines="none">
           <ion-icon name="ios-leaf" color="secondary"></ion-icon>
           <ion-label color="dark" *ngIf="user">{{user.points}}</ion-label>
       </ion-item>
       
    </ion-item>
   </ion-header>
 
   <ion-content>
      
    <div class="bg-green">
      <!--   <ion-item color="secondary-shade" lines="none">
          <ion-item>
              <ion-title slot="start" color="primary">Daur</ion-title></ion-item>
            <ion-item color="secondary-shade" slot="end" lines="none">
                <ion-icon name="ios-leaf" color="secondary"></ion-icon>
                <ion-label color="dark" class="coin">1600</ion-label>
            </ion-item>
            
         </ion-item> -->
     <ion-grid>
       <ion-row class="p-10 mr-3 card-100">
         <ion-col>
            <div class="ion-padding custom-skeleton" *ngIf="!user">
                
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
              </div>
            <div *ngIf="user">
           <ion-text class="text-name bold">{{user.name}}</ion-text><br>
           <ion-text class="sub-text">{{curDate | date: 'fullDate'}}</ion-text>
          </div>
          </ion-col>
       </ion-row>
   
     </ion-grid>
     
    </div>
 
    <ion-grid>
       <ion-row justify-content-center>
         <ion-col size="11">
            <!--  <div class="card-float">
               <ion-grid>
                 <ion-row justify-content-center class="mt-20">
                   <ion-col text-center routerLink="/home/tabs/tab2"><img class="w-50" src="../../assets/icon/user.svg" alt="">
                    <ion-label>Profile</ion-label>
                  </ion-col>
                   <ion-col text-center routerLink="/home/tabs/tab3"><img class="w-50" src="../../assets/icon/leaf.svg" alt="">
                    <ion-label>Rewards</ion-label>
                  </ion-col>
                   <ion-col text-center routerLink="/history"><img class="w-50" src="../../assets/icon/history.svg" alt="">
                    <ion-label>History</ion-label>
                  </ion-col>
                   <ion-col text-center routerLink="/qrcode"><img class="w-50" src="../../assets/icon/qr-code.svg" alt="">
                    <ion-label>QRCode</ion-label>
                  </ion-col>
                 </ion-row>
               </ion-grid>
             </div> -->
           </ion-col>
         </ion-row>
    </ion-grid>

    <ion-grid padding class="bg-grey">
      <ion-row>
        <ion-col>
          <ion-text color="dark" class="bold head-text">
            Leaderboard Points
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-list>
     <ion-item *ngFor="let a of allUser;let idx = index">
        <ion-label slot="start">{{idx+1}}.{{a.name}}</ion-label>
        <ion-label slot="end">{{a.points}}</ion-label>
      </ion-item>
      
         
      </ion-list>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button color="light" routerLink="/qrcode">
        <ion-icon name="qr-scanner"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
     
   </ion-content>