.icon-float {
    font-size: 34px;
    margin-top: 33%;
  }

  ion-label{
      color: white;
  }

  .coin{
      font-size: 22px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
  }

  .custom-skeleton ion-skeleton-text:first-child {
    line-height: 25px;
  }